/fe/node_modules
venv
# /fe/build
package-lock.json
/server/__pycache__
/server/content
/server/DAE-GAN/eval
/server/DAE-GAN/code
/server/DAE-GAN/data
/server/DAE-GAN/model/netG.pth
/server/DAE-GAN/model/netG_1.pth
/server/DAE-GAN/model/netG_4s.pth
/server/DAE-GAN/model/netG_3s.pth